In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [2]:
%matplotlib inline

In [3]:
aapl = yf.Ticker('AAPL')

In [27]:
days = 20
hist = aapl.history(period=f'{days}d')
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-10-25,148.463321,149.152318,147.404868,148.423386,50720600,0.0,0
2021-10-26,149.112382,150.620176,148.792841,149.102402,60893400,0.0,0
2021-10-27,149.142338,149.511794,148.273611,148.633087,56094900,0.0,0

In [28]:
hist.index

DatetimeIndex(['2021-10-25', '2021-10-26', '2021-10-27', '2021-10-28',
               '2021-10-29', '2021-11-01', '2021-11-02', '2021-11-03',
               '2021-11-04', '2021-11-05', '2021-11-08', '2021-11-09',
               '2021-11-10', '2021-11-11', '2021-11-12', '2021-11-15',
               '2021-11-16', '2021-11-17', '2021-11-18', '2021-11-19'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [29]:
#インデックスのフォーマットの変更
hist.index = hist.index.strftime('%d %B %Y')

In [30]:
hist = hist[['Close']]
hist.columns = ['apple']

In [31]:
hist.head()

                      apple
Date
25 October 2021  148.423386
26 October 2021  149.102402
27 October 2021  148.633087
28 October 2021  152.347656
29 October 2021  149.581696

In [32]:
hist = hist.T
hist

Date,25 October 2021,26 October 2021,27 October 2021,28 October 2021,29 October 2021,01 November 2021,02 November 2021,03 November 2021,04 November 2021,05 November 2021,08 November 2021,09 November 2021,10 November 2021,11 November 2021,12 November 2021,15 November 2021,16 November 2021,17 November 2021,18 November 2021,19 November 2021
apple,148.423386,149.102402,148.633087,152.347656,149.581696,148.74292,149.801376,151.269241,150.740005,151.279999,150.440002,150.809998,147.919998,147.869995,149.990005,150.0,151.0,153.490005,157.869995,160.550003

In [33]:
hist.index.name = 'Name'

In [34]:
hist

Date,25 October 2021,26 October 2021,27 October 2021,28 October 2021,29 October 2021,01 November 2021,02 November 2021,03 November 2021,04 November 2021,05 November 2021,08 November 2021,09 November 2021,10 November 2021,11 November 2021,12 November 2021,15 November 2021,16 November 2021,17 November 2021,18 November 2021,19 November 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,148.423386,149.102402,148.633087,152.347656,149.581696,148.74292,149.801376,151.269241,150.740005,151.279999,150.440002,150.809998,147.919998,147.869995,149.990005,150.0,151.0,153.490005,157.869995,160.550003